.video-upload {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: calc(100vh - 50px);
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;

}

.video-upload .title {
  font-size: 25px;
  font-weight: 300;
  line-height: 1.5em;
}

.video-upload .video-placeholder {
  width: 500px;
  height: 400px;
  position: relative;
  inset: 0;
}

.video-upload .video-placeholder .video-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

.video-upload .buttons-action {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.video-upload .buttons-action >button {
  color: #d62246;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 1.66;
  letter-spacing: 0.03333em;
  border: 1px solid #d62246;
  border-radius: 15px;
  cursor: pointer;
  height: 50px;
  width: 200px;
  padding: 10px;
}

.video-upload .video-placeholder>img {
  height: 100%;
  width: 100%;
}

.video-upload .video-placeholder .video-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

.video-upload .video-placeholder .video-icon .icon {
  margin: 0 5px;
  border: 1px solid #d62246;
  padding: 10px;
  border-radius: 98px;
  cursor: pointer;
  color: #d62246;
}



.video-upload .recording {
 
  display: inline-block;
  padding-left: 1.2em;
  line-height: 1.5em;
}

.video-upload .recording::before {
  content: '🔴';
  position: absolute;
  left: 5px;
  animation: recording 600ms alternate infinite;
}

@keyframes recording {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.2;
  }
}

@media (max-width: 767px) {
  .video-upload .video-placeholder {
    width: 400px;
    height: 300px;
  }
}

@media (max-width: 450px) {
  .video-upload .video-placeholder {
    width: 100%;
    height: 300px;
  }

  .video-upload .buttons-action {
    display: flex;
    flex-direction: column;
  }
}

@media (max-height: 600px) {
  .video-upload .video-placeholder {
    height: calc(100% - 50%);
  }
}