.video {
  position: relative;
}
.video .video-content{
  height: 150px;
  width: 100%;
}
.video .time {
  position: absolute;
  top: 50%;
  right: 5px;
  background: black;
  color: #d4f4dd;
  border: none;
  border-radius: 15px;
  cursor: none;
  z-index: 1;
  transform: translateY(-50%);
}

